body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #00d1d1;
}

.grid-container {
  border: 5px solid burlywood;
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  padding: 10px;
  background-color: brown;
}

.grid-top {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-item {
  width: 40px;
  height: 40px;
}

.grid-top:nth-child(odd) > .grid-item:nth-child(odd) {
  background-color: white;
}

.grid-top:nth-child(odd) > .grid-item:nth-child(even) {
  background-color: black;
}

.grid-top:nth-child(even) > .grid-item:nth-child(odd) {
  background-color: rgb(0, 0, 0);
}

.grid-top:nth-child(even) > .grid-item:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
